@using HttpClientDecorator.Web.Status
@using System.Reflection;
@{
    var currentYear = DateTime.Now.Year.ToString();
    var status = new ApplicationStatus(Assembly.GetExecutingAssembly());
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HttpClientDecorator.Web">
    <meta name="author" content="Mark Hazleton">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"] - HttpClientDecorator.Web</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/datatables.net-bs/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("HeadScripts", required: false)
</head>
<body id="page-top">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">HttpClientDecorator.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Joke">Joke</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ArtInstitute">Art Institute</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/NasaPicture">Nasa Pictures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/List">List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CircuitBreaker">Circuit Breaker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/crawldomain">Crawl Site</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="pb-3">
        <section class="container-fluid" style="padding-top:25px;margin-top:25px;margin-bottom:25px;padding-bottom:25px;">
            @RenderBody()
        </section>
    </main>

    <footer class="container-fluid mt-auto border-top footer text-muted bg-dark d-print-none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12" style="float:left">
                    Version: @status.BuildVersion?.ToString() <br />
                    <a href="https://github.com/markhazleton/HttpClientDecoratorPattern" target="_blank">GitHub Repository</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center;">
                    &copy; 2020-@currentYear HttpClientDecorator.Web <br />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12" style="float:right">
                    Last Built: @status.BuildDate.ToLocalTime().ToLongDateString() <br />
                    <a href="https://markhazleton.controlorigins.com" title="Mark Hazleton, Solutions Architect, Lifelong Learner, not sidetracked by sizzle" target="_blank">Mark Hazleton</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/datatables/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-bs/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>