@page
@model CrawlDomainModel
@{
    ViewData["Title"] = "Crawl Website";
}
<h1>Crawl Domain</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="StartPath">Select Start Path:</label>
        <select asp-for="StartPath" class="form-control">
            <option value="https://controlorigins.com">controlorigins.com</option>
            <option value="https://markhazleton.controlorigins.com">markhazleton.controlorigins.com</option>
            <option value="https://pm.controlorigins.com">pm.controlorigins.com</option>
            <option value="https://travel.frogsfolly.com">travel.frogsfolly.com</option>
            <option value="https://frogsfolly.com">frogsfolly.com</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="MaxPagesCrawled">Maximum Pages Crawled:</label>
        <input asp-for="MaxPagesCrawled" class="form-control" type="number" min="1" max="900" />
    </div>
    <button type="submit" class="btn btn-primary" id="crawlButton">Start Crawling</button>
</form>
<div class="text-center mt-4 loading-spinner" style="display:none;">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
    <p>Crawling in progress...</p>
</div>

<!-- Add SignalR script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>

<script>
    // Establish SignalR connection
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/crawlHub")
        .build();

    connection.on("UrlFound", function (numUrlsFound) {
        const found = document.querySelector("p#url-found");
        found.innerHTML += numUrlsFound + "<br/>";
        const spinner = document.querySelector(".loading-spinner");
        const results = document.querySelector("table#crawlResults");
        if (isCrawling) {
            spinner.style.display = "block";
            results.style.display = "none";
        } else {
            spinner.style.display = "none";
            results.style.display = "block";
        }
    });

    // Start the connection
    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

</script>

@if (Model?.CrawlResults != null && Model?.CrawlResults?.Count > 0)
{

    <table class="table" id="crawlResults">
        <thead>
            <tr>
                <th>Iteration</th>
                <th>RequestPath</th>
                <th>Links Found</th>
                <th>CompletionDate</th>
                <th>ElapsedMilliseconds</th>
                <th>StatusCode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CrawlResults)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Iteration)
                    </td>
                    <td>
                        <a href="@item.RequestPath" target="_blank" alt="@item.RequestPath">@item.RequestPath</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrawlLinks.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompletionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ElapsedMilliseconds)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusCode)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Crawl Status</h3>
    </div>
    <div class="card-body">
        <p id="url-found"></p>
    </div>
</div>
