@page
@model HttpClientDecorator.Web.Pages.ListModel

@{
    ViewData["Title"] = "List Items Demo";
}
<h1>Async Calls</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HttpGetCallResults[0].CompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HttpGetCallResults[0].ElapsedMilliseconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HttpGetCallResults[0].Iteration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HttpGetCallResults[0].ErrorList)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HttpGetCallResults)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElapsedMilliseconds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iteration)
                </td>
                <td>
                    <ul>
                        @foreach (var error in item.ErrorList)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
