@page
@model HttpClientDecorator.Web.Pages.TriviaModel
@{
    var answers = Model?.theTrivia?.incorrect_answers?.ToList() ?? new List<string>() { "MISSING" };
    answers.Add(Model.theTrivia.correct_answer);
    answers = answers.OrderBy(x => Guid.NewGuid()).ToList();
}

@section HeadScripts
    {
    <style type="text/css">

    </style>
}

<div class="jumbotron">
    <div class="container">
        <div class="card border-info">
            <div class="card-header">
                @if (Model.IsMatchFinished)
                {
                    <h1>Match Finished</h1>
                }
                else
                {
                    <h1>@Html.DisplayFor(model => model.theTrivia.category) Trivia</h1>
                }
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="container mt-sm-5 my-1">
                        @if (!Model.IsMatchFinished)
                        {
                            @Html.HiddenFor(model =>model.theTrivia.triviaID)
                            <div class="question ml-sm-5 pl-sm-5 pt-2">
                                <div class="py-2 h5"><b>Q. @Html.Raw(Model.theTrivia.question)</b></div>
                                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                                    <div class="form-group">
                                        <label asp-for="theAnswer.Answer">Answers</label>
                                        <hr />
                                        @foreach (var answer in answers)
                                        {
                                            <div class="options">
                                                <input type="radio" asp-for="theAnswer.Answer" value="@answer" /> @Html.Raw(answer)
                                                <span class="checkmark"></span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="ml-sm-5 pl-sm-5 pt-2">
                        @if (@Model.IsMatchFinished)
                        {
                            <a href="/trivia" class="btn btn-primary">Add More Questions</a>
                        }
                        else
                        {
                            if (@Model.theAnswer.Correct)
                            {
                                <h1>Correct!</h1>
                                <a href="/trivia" class="btn btn-primary">New Question</a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Check Answer</button>
                            }
                        }
                    </div>
                </form>
            </div>
            <div class="card-footer">
                @Html.DisplayFor(model => model.theMatchStatus)
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        // Disable client-side validation for this form
        $.validator.unobtrusive.options = {
            validateOnSubmit: false
        };
    </script>
}